<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Заголовок стартовый{% endblock %}</title>
</head>
<body>
{% block body %}
<div>
    <h2>Добавить пользователя</h2>
    <form action="create_user/" method="POST">
        {% csrf_token %}
            {{ form.name }}
            {{ form.surname }}
        <button>Добавить</button>
    </form>
    <h2>Список пользователей</h2>
    <ul>
        {% for user in users %}
        <li>{{user.id}}. {{user.surname}} {{ user.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
</body>
</html>